{% if pkg_dict.license_id %}
  {% if not text_only %}
    <section class="module module-narrow module-shallow license">
    <h2 class="module-heading"><i class="icon-medium icon-lock"></i> {{ _('License') }}</h2>
      <p class="module-content">
  {% endif %}
  {% if not text_only %}
      {% if pkg_dict.license_id == 'cc-by' %}
        <a href="{{ pkg_dict.license_url }}" title="{{ pkg_dict.license_title }}"">
          <img class="open-data" src="/ccby.png" alt="{{ pkg_dict.license_title }}" />
        </a>
      {% elif pkg_dict.license_id == 'cc-by-sa' %}
        <a href="{{ pkg_dict.license_url }}" title="{{ pkg_dict.license_title }}"">
          <img class="open-data" src="/ccbysa.png" alt="{{ pkg_dict.license_title }}" />
        </a>
      {% elif pkg_dict.license_id == 'cc-by-nd' %}
        <a href="{{ pkg_dict.license_url }}" title="{{ pkg_dict.license_title }}"">
          <img class="open-data" src="/ccbynd.png" alt="{{ pkg_dict.license_title }}" />
        </a>
      {% elif pkg_dict.license_id == 'cc-by-nc' %}
        <a href="{{ pkg_dict.license_url }}" title="{{ pkg_dict.license_title }}"">
          <img class="open-data" src="/ccbync.png" alt="{{ pkg_dict.license_title }}" />
        </a>
      {% elif pkg_dict.license_id == 'cc-by-nc-sa' %}
        <a href="{{ pkg_dict.license_url }}" title="{{ pkg_dict.license_title }}"">
          <img class="open-data" src="/ccbyncsa.png" alt="{{ pkg_dict.license_title }}" />
        </a>
      {% elif pkg_dict.license_id == 'cc-by-nc-nd' %}
        <a href="{{ pkg_dict.license_url }}" title="{{ pkg_dict.license_title }}"">
          <img class="open-data" src="/ccbyncnd.png" alt="{{ pkg_dict.license_title }}" />
        </a>
      {% elif pkg_dict.isopen %}
        <span property="dc:rights">{{ pkg_dict.license_title }}</span>
        <a href="http://opendefinition.org/okd/" title="{{ _('This dataset satisfies the Open Definition.') }}">
          <img class="open-data" src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="[Open Data]" />
        </a>
      {% else %}
        <span property="dc:rights">{{ pkg_dict.license_title }}</span>
      {% endif %}
      </p>
    </section>
  {% endif %}
{% elif text_only %}
  {{ _('No License Provided') }}
{% endif %}
