{% ckan_extends %}

{% block home_primary %}
  <header>
    {% if g.site_intro_text %}
    {{ h.render_markdown(g.site_intro_text) }}
    {% else %}
      {% block home_primary_content %}
        <h1 class="page-heading">{% block home_primary_heading %}{{ _("Welcome to CKAN") }}{% endblock %}</h1>
        <p>
        {% block home_primary_text %}
          {% trans %}This is a nice introductory paragraph about CKAN or the site
          in general. We don't have any copy to go here yet but soon we will
          {% endtrans %}
        {% endblock %}
        </p>
      {% endblock %}
    {% endif %}
  </header>
{% endblock %}

{% block home_image %}
{% endblock %}

{% block secondary_content %}
  <div class="row group-listing">
    {% for org_name in featured_orgs %}
      {% set org_dict = h.organization_show(org_name) %}
      <div class="span6">
        <div class="box">
          {% snippet 'snippets/organization_item.html', organization=org_dict, truncate=100 %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
