header.masthead {
	height: 105px;
	.container {
		height: 105px;
	}
	nav {
		line-height: 35px
	}
	.navigation {
		display: block;
		padding-left: 0;
		ul.unstyled li a.active  {
			background-color: @saPrimaryColor;
			color: @saFadedColor !important;
		}
	}
	.account {
		clear: both;
		padding: 0;
		min-height: 0;
		bottom: 60px;
		.links {
			display: block;
			top: 0;
		}
		a {
			float: left;
			display: block;
			border-width: 0;
			padding: 7px 10px !important;
			border-left: 1px solid #DBDAB9;
			&:hover {
				color: #000;
			}
			&:first-child {
				border-left-width: 0;
			}
			&.sub {
				color: #197FC9;
				font-size: 13px;
				clear: none;
			}
		}
		a.image {
			display: none;
		}
		&.avatar {
			padding-left: 0;
		}
	}
}

.resource-list .resource-item {
	position: relative;
	.btn {
		position: absolute;
		top: 15px;
		right: 10px;
	}
}
