.site-footer,
header.masthead {
  background: none;
  filter: none;
}
.main::after,
[role="main"]::after,
.main::before,
[role="main"]::before {
  display: none;
}
.ie7 .masthead nav {
  display: block;
}
body {
  background: #ffffff;
}
.site-footer {
  color: #888;
}
.site-footer label,
.site-footer small {
  color: #888;
}
.site-footer a {
  color: #197fc9;
}
.site-footer .sa-copyright {
  float: right;
  text-align: right;
}
.site-footer nav {
  clear: both;
  overflow: hidden;
}
.site-footer nav .unstyled,
.site-footer nav .attribution {
  float: left;
  width: 230px;
}
.main,
[role="main"] {
  background: #ffffff;
  border-top: 4px solid #ca7400;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
a {
  color: #197fc9;
}
.dropdown-menu li > a:hover {
  background-color: #197fc9;
}
.btn-primary {
  background: #ca7400 !important;
}
.btn-primary:hover {
  background: #975700 !important;
}
.attribution .ckan-footer-logo {
  background-image: url(/images/ckan-logo-footer.png);
}
.module-heading,
.page-header {
  background: #f6f6ee;
  filter: none;
}
.module-heading {
  border-bottom-color: #e4e4cd;
}
.control-order-by {
  bottom: -60px;
}
.control-order-by select {
  margin-bottom: 0;
}
header.account-masthead {
  background: #f6f6ee;
  margin-bottom: 10px;
  border-bottom: 1px solid #e4e4cd;
}
header.account-masthead .account {
  color: #000;
}
header.account-masthead .account ul li {
  border-left-color: #d3d3ab;
}
header.account-masthead .account ul li a {
  color: #000;
}
header.account-masthead .account ul li a:hover {
  color: #000;
  background-color: #d3d3ab;
}
header.account-masthead .account ul li.notifications a span {
  color: #f6f6ee;
}
header.masthead {
  position: relative;
  height: 100px;
  padding: 0;
}
header.masthead .container {
  height: 100px;
  width: auto;
}
header.masthead .header-image {
  width: 940px;
  margin: 5px auto;
}
header.masthead .header-image .logo {
  display: block;
  float: left;
  width: 209px;
  height: 41px;
  margin-top: 15px;
  background: transparent url(/images/sa_logo.png);
}
header.masthead .header-image .logo img {
  display: none;
}
header.masthead .header-image .sa_logo {
  float: right;
  margin-top: -7px;
}
header.masthead .content {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f6f6ee;
  border-top: 1px solid #e4e4cd;
}
header.masthead .inner {
  position: relative;
  width: 940px;
  margin: 0 auto;
}
header.masthead .navigation {
  float: none;
  margin-right: 0;
}
header.masthead .navigation ul.nav {
  margin: 0;
  padding: 0 5px;
}
header.masthead .navigation ul.nav li a {
  font-size: 16px;
  color: #000;
  padding: 10px 15px;
  margin: 0;
  font-weight: bold;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
header.masthead .navigation ul.nav li a:hover {
  background-color: transparent;
  text-decoration: underline;
}
header.masthead .navigation ul.nav li.active a {
  background-color: #ca7400;
  color: #f6f6ee !important;
}
header.masthead .site-search {
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 1;
}
header.masthead .site-search input[type="text"] {
  border-color: #d3d3ab;
  font-size: 12px;
  padding: 2px 8px;
}
.hero {
  background: transparent url(/map.jpg) 50% 0 no-repeat;
  border-bottom-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 40px 0;
}
.hero .module-dark .module-content {
  background-color: #ca7400;
}
.hero-primary {
  font-size: 16px;
  line-height: 22px;
}
.ie7 .toolbar .breadcrumb li {
  background-image: url(/images/breadcrumb-slash-ie7.png);
}
.ie7 .sa_logo {
  margin-top: -50px;
}
.ie7 .control-order-by select {
  position: relative;
  top: 2px;
}
.ie7 .box {
  margin-left: 0;
  margin-right: 0;
}
