{% ckan_extends %}
{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('What are Organizations?') }}
    </h2>
    <div class="module-content text-wrap">
      <p>Organisations are the entities that have contributed data to the
      directory such as South Australian Government agencies, public sector bodies,
      participating local government authorities or community organisations. You can
      use this page to locate all data contributed to the <a
      href="http://data.sa.gov.au/">data.sa</a> directory by an organisation. When
      using content from this website use the following form of attribution: <br
      />Attribution to: Organisation name, South Australia, title of dataset, date
      the content was sourced, dataset URL.</p>

      <p>Example: <i>The Department of the Primary Industries and Regions,
        South Australia, Field Crop Estimates, Sourced on 22 July 2013, <a
          href="http://www.data.sa.gov.au/dataset/field-crop-production-estimates">http://www.data.sa.gov.au/dataset/field-crop-production-estimates</a>.
      </i><p>
    </div>
  </div>
{% endblock %}
