{% ckan_extends %}
{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      {{ _('What are Organizations?') }}
    </h2>
    <div class="module-content">

      <p>Organizations are the entities that have contributed data to the
      directory such as South Australian Government departments and agencies,
      public sector bodies or participating local government authorities.</p>

      <p>You can use this page to locate all data contributed to the
      <a href="http://data.sa.gov.au/">data.sa</a>
      directory by an organization.</p>

      <p>When attributing the source of data that you use you should always
      include the Organization Name in the attribution.  All Government
      Departments that publish data should also include a reference to the
      Government of South Australia in the attribution.  E.g.
      Attorney-General’s Department, the Government of South Australia
      2013.</p>

    </div>
  </div>
{% endblock %}
